{% extends 'admin_dashboard/base.html' %}

{% block page_title %}Project{% endblock %}

{% block content %}
<div class="card panel-card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row g-3">
                <div class="col-md-6">{{ form.title.label_tag }}{{ form.title }}</div>
                <div class="col-md-6">{{ form.tech_stack.label_tag }}{{ form.tech_stack }}</div>
                <div class="col-12">{{ form.description.label_tag }}{{ form.description }}</div>
                <div class="col-md-6">{{ form.link.label_tag }}{{ form.link }}</div>
                <div class="col-md-3">{{ form.featured.label_tag }}{{ form.featured }}</div>
                <div class="col-md-6">{{ form.image.label_tag }}{{ form.image }}</div>
            </div>
            <button class="btn btn-primary mt-4" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}
